fire
pydantic>=2.0.0
pyyaml>=5.4
requests
httpx
httpcore>=1.0.0
prompt_toolkit
nucliadb_sdk>=5.2.1.post1782,<6
nucliadb_models>=5.2.1.post1782,<6
nuclia-models==0.3.0
tqdm
aiofiles
backoff
deprecated
tabulate