pytest==7.4.0
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-tqdm==4.66.0.2
pytest-asyncio==0.21.1
nats-py==2.5.0
pytest_lazy_fixtures==1.0.1
pytest_docker_fixtures[pg]
types-aiofiles
types-PyYAML
types-tqdm
types-Deprecated
types-tabulate
ruff